<app-header></app-header>
<div class="body">
    <div class="login">

        <mat-spinner *ngIf ="loading" class="spinner"></mat-spinner>

        <h2>Inicio de Sesión</h2>
        <form *ngIf="!loading" [formGroup]="form">
            <mat-form-field class="ancho" appearance="fill">
                <img src="assets/img/user.png" class="person">       
              <!--<mat-icon aria-hidden="false" aria-label="Example home icon" class="person">person</mat-icon>-->
                <mat-label>Usuario</mat-label>
                <input type="text" matInput autocomplete="off" formControlName = "username">
            </mat-form-field>
            <mat-form-field class="ancho" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput autocomplete="off" formControlName = "password">
            </mat-form-field>
            <br>
            <button type="submit" class="ancho" (click)="ingresar()" mat-raised-button mat-button color="primary" [disabled]="form.invalid">Ingresar</button>
            <!--<button class="ancho" routerlink="/dashboard" mat-raised-button mat-button color="primary" [disabled]="form.invalid">Ingresar</button>-->
        </form>
    </div>
</div>
