 <h1>Editar datos del empleado</h1>
 <form [formGroup]="form">

  <div class="example-container">
    <mat-form-field class="mbsc-col-12 mbsc-col-md-6 mbsc-col-lg-3" appearance="fill">
        <mat-label>Cedula</mat-label>
        <input matInput input type="text" matInput autocomplete="off" formControlName = "CI">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput input type="text" matInput autocomplete="off" formControlName = "name">
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Apellido</mat-label>
      <input matInput input type="text" matInput autocomplete="off" formControlName = "last_name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cargo</mat-label>
      <input matInput input type="text" matInput autocomplete="off" formControlName = "position">
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Dirección</mat-label>
      <input matInput input type="text" matInput autocomplete="off" formControlName = "address">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input matInput input type="text" matInput autocomplete="off" formControlName = "num">
    </mat-form-field>
  </div>

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Fecha de ingreso</mat-label>
        <input matInput input type="hiden" matInput autocomplete="off" formControlName = "date">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Salario Base</mat-label>
          <input matInput input type="hiden" matInput autocomplete="off" formControlName = "salariobase">
        </mat-form-field>

<!--    <mat-form-field appearance="fill">
      <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">Directivo</mat-option>
          <mat-option value="two">Administrativo</mat-option>
          <mat-option value="three">Profesorado</mat-option>
          <mat-option value="four">Obrero</mat-option>
      </mat-select>
    </mat-form-field>-->
  </div>
  <div class="example-button-row" >
    <button type="submit" (click)="update()" mat-raised-button mat-button color="primary" [disabled]="form.invalid">edit</button>
</div>
</form>








