<div class="container">
<mat-toolbar>
    <span>Crear Personal Fijo</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px;">
    <form [formGroup]="form">
        <mat-grid-list cols="4" rowHeight="100px">
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="legacy" class="ancho">
                    <mat-label>Cédula de Identidad</mat-label>
                    <input matInput placeholder="Ingrese Cédula del empleado" autocomplete="off" formControlName = "CI">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="5">
                <img src="./assets/img/user.png" width="250" height="250">
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="legacy" class="ancho">
                    <mat-label>Nombre</mat-label>
                    <input matInput placeholder="Ingrese nombre del empleado" autocomplete="off" formControlName = "name">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="legacy" class="ancho">
                    <mat-label>Apellido</mat-label>
                    <input matInput placeholder="Ingrese apellido del empleado" autocomplete="off" formControlName = "last_name">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field appearance="legacy" class="ancho">
                  <mat-label>Cargo</mat-label>
                  <input matInput placeholder="Ingrese cargo del empleado" autocomplete="off" formControlName = "position">
                  <mat-hint>Hint</mat-hint>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
               <mat-form-field appearance="legacy" class="ancho">
                   <mat-label>Dirección</mat-label>
                   <input matInput placeholder="Ingrese dirección del empleado" autocomplete="off" formControlName = "address">
                   <mat-hint>Hint</mat-hint>
                 </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="legacy" class="ancho">
                    <mat-label>Numero Telefonico</mat-label>
                    <input matInput placeholder="Ingrese Numero" autocomplete="off" formControlName = "num">
                    <mat-hint>Hint</mat-hint>
                  </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field appearance="legacy" class="ancho">
                    <mat-label>Fecha de ingreso</mat-label>
                    <input matInput placeholder="Ingrese fecha" autocomplete="off" formControlName = "date">
                    <mat-hint>yyyy-mm-dd</mat-hint>
                  </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
              <mat-form-field appearance="legacy" class="ancho">
                  <mat-label>Salario base</mat-label>
                  <input matInput placeholder="Ingrese salario base del empleado" autocomplete="off" formControlName = "salariobase">
                  <mat-hint>yyyy-mm-dd</mat-hint>
                </mat-form-field>
          </mat-grid-tile>

            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <button mat-raised-button style="margin-right: 20px;" routerLink="/dashboard/fijo">Volver</button>
                <button mat-raised-button color="primary"  (click)="create()" (click)="showModal()" [disabled]="form.invalid" routerLink="/dashboard/fijo">Aceptar</button>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</mat-card>


</div>
